.on {
  background-color: rgb(75, 75, 253);
  color: #fff;
}

.off {
  background-color: rgb(50, 50, 255);
}

.default {
  display: inline-block;
  margin: 1px;
  border: 1px solid rgb(80, 80, 255);
}
