.on {
  background-color: rgb(162, 162, 209);
  color: #fff;
}

.off {
  background-color: rgb(76, 76, 88);
}

.default {
  display: inline-block;
  margin: 1px;
  border: 1px solid rgb(175, 175, 175);
}
